@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding:0;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 24pt;
  color: #6B6B6B;
  padding-top: 15PX;
}
html {
  background-image: url("../assets/images/biblioteca.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 153px;
  background-color: white;
  border-bottom: solid 1px #ccc;
  box-shadow: 0 1px 3px #888888;
}
#header {
  display:block;
  /*margin: 0 auto;*/
  min-width: 960px;
  height: 164px;
}

#barrasuperior {
  position: absolute;
  width:100%;
  display:block;
  height:40px;
  background-color: #5E352A;
  box-shadow: 0 1px 3px #888888;
}
/*----------------ICONOS SUPERIOR-------------*/

  #nombre_usuario {
    display:block;
    position: relative;
    float:left;
    left: 32px;
    top: 10px;

  }
  #nombre_usuario p {
    display:block;
    position: relative;
    float:right;
    margin-left: 10px;
    color:white;
    font-family: helvetica;
    font-size: 12px;
    top:5px;


  }
  #iconos {
    display:block;
    position: relative;
    float: right;
    right: 32px;
    top: 13px;
  }
  .home {
    width: 19px;
    height: 16px;
    margin: 0 10px;
    display: block;
    float: right;
  }
  .user {
    width: 19px;
    height: 16px;
    margin: 0 10px;
    display: block;
    float: right;
  }
  .configuration {
    width: 19px;
    height: 16px;
    margin-left: 10px;
    display: block;
    float: right;
  }


.block {
  width: 1024px;
  height: 536px;
  margin: 0 auto;
  background: rgba(255,255,255,0.9);
  display: block;
  position: relative;
  text-align: center;
  top: 51px;
  border: solid 1px #ccc;
  box-shadow: 0 0 3px #888888;
  -moz-box-shadow: 0 0 3px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
}
.headercontainer {
  width: 1024px;
  height: 90px;
  margin: 0 auto;

  display:block;
  position:relative;
  text-align: center;
  top:40px;

}
#logo_see_contenido{
  width: 64px;
  height:65px;
  position: relative;
  top:12px;
  display:block;
  float:left;

}
#logo_utm_contenido{
  width: 64px;
  height:64px;
  position: relative;
  top:12px;
  display:block;
  float:right;

}
#titulo_contenido{
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
  position: absolute;
  margin-top:30px;
  color:#5E352A;
  font:30px Helvetica;
  text-align:center;

}

button, .button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 25px;
  font-size: 14px;
  font-family: "Roboto",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  width: 160px;
  height: 32px;
}


button:hover{
  outline: none
}

.flat{
  color: #fff;
  background-color: #BE3228;
  color: #FFF;
  text-decoration: none;
  border: none;
}

.flat:hover{
  background-color: #5E352A;
}

.flat-secundario{
  background-color: #6B6B6B;
  color: #FFF;
}

/*.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;

}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}*/

.img{
  max-width: 50%;
  max-height: 50%;
}
/*
.link,
a{
  color: #be3228;
  text-decoration: none;
  cursor:pointer; cursor: hand;
  margin-left: 10px;
}*/

/* NavBar */
  .menucontainer {
    width: 1024px;
    height: 60px;
    margin: 0 auto;
    background-color: #5E352A;
    display:block;
    position:relative;
    text-align: center;
    top:40px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .item{
    position: relative;
    left: 9%;
    font-family: helvetica;
    font-size: 13px;
    width: 10.5%;
  }

/* Estilos para tablas
table{
  width: 90%;
  margin: 0 5% 0 5%;
  border-collapse: collapse;
  border: #ACABAB 2px solid;
  font-size: 12pt;
}
th{
  color: #FFFFFF;
  background-color: #6B6B6B;
  border: #ACABAB 2px solid;
  text-align: center;
}
tr, td {
  height: 32px;
  border: #ACABAB 2px solid;
}
tr:nth-child(even){ /*Filas pares
  color: #6B6B6B;
  background-color: #FFFFFF;
}
tr:nth-child(odd){ /*Filas nones
  color: #6B6B6B; /*color: #FFFFFF;
  background-color: #D8D8D8;
}
*/
/*div select{
  width: 100%;
  height: 32px;
  /*padding-left: 32px;
  float: left;
  padding: 0 0 0 32px;
<<<<<<< HEAD
  border: 1 !important;    /*    Removes border
=======
  /*border: 1 !important;    /*    Removes border*/*/
>>>>>>> b207302be4a3d7c2cd055ef66b8a29b08998c7dd
  border: #ACABAB 2px solid;
  -webkit-appearance: none;        /*Removes default chrome and safari style
  -moz-appearance: none;          /* Removes Default Firefox style*/
  /*background: {{url('assets/images/home.png')}};         /*Adds background-image*/
  /*background-position: 82px 7px;                /*Position of the background-image
}
div .filtro_1{
  width: 40%;
  margin: 0 0 10px 5%;
  float: left;
}/*
div .filtro_3{
  width: 26.7%;
  margin: 0 0 10px 5%;
  float: left;
}
div p.titulo_select{
  margin: 0;
  text-align: left;
}*/
