@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

*{
  margin: 0;
  padding:0;
}

html {
  background-image: url("../assets/images/biblioteca.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 153px;
  background-color: white;
  border-bottom: solid 1px #ccc;
  box-shadow: 0 1px 3px #888888;
}
#header {
  display:block;
  /*margin: 0 auto;*/
  min-width: 960px;
  height: 164px;
}

#barrasuperior {
  position: absolute;
  width:100%;
  display:block;
  height:40px;
  background-color: #5E352A;
  box-shadow: 0 1px 3px #888888;
}
/*----------------ICONOS SUPERIOR-------------*/

  #nombre_usuario {
    display:block;
    position: relative;
    float:left;
    left: 32px;
    top: 10px;

  }
  #nombre_usuario p {
    display:block;
    position: relative;
    float:right;
    margin-left: 10px;
    color:white;
    font-family: helvetica;
    font-size: 12px;
    top:5px;


  }
  #iconos {
    display:block;
    position: relative;
    float: right;
    right: 32px;
    top: 13px;
  }
  .home {
    width: 19px;
    height: 16px;
    margin: 0 10px;
    display: block;
    float: right;
  }
  .user {
    width: 19px;
    height: 16px;
    margin: 0 10px;
    display: block;
    float: right;
  }
  .configuration {
    width: 19px;
    height: 16px;
    margin-left: 10px;
    display: block;
    float: right;
  }


.block {
  width: 1024px;
  height: 450px;
  margin: 0 auto;
  background: rgba(255,255,255,0.9);
  display: block;
  position: relative;
  text-align: center;
  top: 51px;
  border: solid 1px #ccc;
  box-shadow: 0 0 3px #888888;
}
.headercontainer {
  width: 1024px;
  height: 90px;
  margin: 0 auto;

  display:block;
  position:relative;
  text-align: center;
  top:40px;

}
#logo_see_contenido{
  width: 64px;
  height:65px;
  position: relative;
  top:12px;
  display:block;
  float:left;

}
#logo_utm_contenido{
  width: 64px;
  height:64px;
  position: relative;
  top:12px;
  display:block;
  float:right;

}
#titulo_contenido{
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
  position: absolute;
  margin-top:30px;
  color:#5E352A;
  font:30px Helvetica;
  text-align:center;

}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 25px;
  font-size: 14px;
  font-family: "Roboto",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  width: 160px;
  height: 32px;
}


button:hover{
  outline: none
}

.flat{
  color: #fff;
  background-color: #BE3228;
  text-shadow: -1px 1px #417cb8;
  color: #FFF;
  text-decoration: none;
  border: none;
}

.flat:hover{
  background-color: #5E352A;
  text-shadow: -1px 1px #27496d;
}

.flat-secundario{
  background-color: #6B6B6B;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"]{
  display: block;
  margin-bottom: 15px;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #6B6B6B;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #ACABAB;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus{
  outline: none;
  border: solid 1px #BE3228;
  box-shadow: 0 0 5px 1px #969696;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}


select{
  display: block;
  margin-bottom: 15px;
  width: 83.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #FFF;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #ACABAB;
  transition: box-shadow 0.3s, border 0.3s;
}

.img{
  max-width: 50%;
  max-height: 50%;
}

a{
  color: #be3228;
  text-decoration: none;
}

/* NavBar */
  .menucontainer {
    width: 1024px;
    height: 60px;
    margin: 0 auto;
    background-color: #5E352A;
    display:block;
    position:relative;
    text-align: center;
    top:40px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .item{
    position: relative;
    left: 9%;
    font-family: helvetica;
    font-size: 13px;
    width: 10.5%;
  }