*{
  margin: 0;
  padding:0;
}

html {
  /*background-image: rgba(0, 0, 0, 0. 0.5);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
}

header {
	height: 190px;
	background-color: white;
	border-bottom: solid 1px #ccc;


}
#header {
	display:block;
	margin: 0 auto;
	min-width: 960px;
	height: 190px;


}
#barrasuperior
{
  position: absolute;
  width:100%;
  display:block;
  height:40px;
  background-color: #5E352A;
}
  /*----------------ICONOS SUPERIOR-------------*/

  #nombre_usuario {
  	display:block;
  	position: relative;
    float:left;
    left: 32px;
  	top: 10px;

  }
  #nombre_usuario p {
  	display:block;
  	position: relative;
    float:right;
    margin-left: 10px;
    color:white;
    font-family: helvetica;
    font-size: 12px;
    top:5px;


  }
  #iconos {
  	display:block;
  	position: relative;
    float: right;
  	right: 32px;
  	top: 13px;
  }
  .home {
  	width: 19px;
  	height: 16px;
  	margin: 0 10px;
  	display: block;
  	float: right;
  }
  .user {
  	width: 19px;
  	height: 16px;
  	margin: 0 10px;
  	display: block;
  	float: right;
  }
  .configuration {
  	width: 19px;
  	height: 16px;
  	margin-left: 10px;
  	display: block;
  	float: right;
  }


.block {
  min-width: 960px;
  height:540px;
  border: none;
  background: rgba(255,255,255,0.9);
    /*background: rgba(125,240,55,0.9);*/
  text-align: center;
  margin: 16px 32px 0;
  padding: 0 16px;
  position: relative;
  top: 8px;
}
.headercontainer {
	width: 1024px;
	height: 90px;
	margin: 0 auto;

  display:block;
  position:relative;
  text-align: center;
  top:40px;

}
#logo_see_contenido{
	width: 64px;
	height:65px;
	position: relative;
	top:12px;
  display:block;
  float:left;

}
#logo_utm_contenido{
	width: 64px;
	height:64px;
	position: relative;
	top:12px;
  display:block;
  float:right;

}
#titulo_contenido{
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
  position: absolute;
  margin-top:30px;
  color:#5E352A;
  font:30px Helvetica;
  text-align:center;

}
.menucontainer {
	width: 1024px;
	height: 60px;
	margin: 0 auto;
  background-color: #5E352A;
  display:block;
  position:relative;
  text-align: center;
  top:40px;
}

.img{
  max-width: 50%;
  max-height: 50%;
}
/*.nav {
    display: inline-block;
    cursor: default;
    position:relative;
    top:108px;
    margin: 0 auto;
    z-index: 	500;
    background-color: #5E352A;
}*/


            
            /* Estilos para tablas */
table{
  width: 90%;
  margin: 0 5% 0 5%;
  border: #ACABAB 2px solid;
  font-size: 12pt;
  font-family: Roboto;
}
th{
  color: #FFFFFF;
  background-color: #6B6B6B; 
  border: #ACABAB 2px solid;
  text-align: center;
}
tr, td {
  height: 32px;
  border: #ACABAB 2px solid;
}
tr:nth-child(even){ /*Filas pares*/
  color: #6B6B6B;
  background-color: #FFFFFF;
}
tr:nth-child(odd){ /*Filas nones*/
  color: #6B6B6B; /*color: #FFFFFF;*/
  background-color: #D8D8D8;
}

/* Estilos para filtros (selección) */
div select{
  width: 100%;  
  height: 32px;
  padding-left: 32px;
  float: left;

  border: 1 !important;    /*    Removes border*/
  border: #ACABAB 2px solid;
  -webkit-appearance: none;        /*Removes default chrome and safari style */
  -moz-appearance: none;          /* Removes Default Firefox style*/
  /*background: {{url('assets/images/home.png')}};         /*Adds background-image*/
  /*background-position: 82px 7px;                /*Position of the background-image*/
}
div .filtro_1{
  width: 40%;
  margin: 0 0 10px 5%;
  float: left;
}
div .filtro_3{
  width: 26.7%;
  margin: 0 0 10px 5%;
  float: left;
}
div p.titulo_select{
  margin: 0;
  text-align: left;
}
