@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/*texto: Eventos UTM*/
.text-center{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #6B6B6B;
	position: relative;
	top: 15px;
}

/*linea, bajo el texto: Eventos UTM*/
.hr {
	max-width: 965px;
	margin: 20px 27px 0;
}

.column li a{
	color: black;
}


/*#cssmenu > ul > li.active,*/
#cssmenu > ul > li {
	border-left: 16px solid rgba(255,255,255,0.1);

}

#cssmenu > ul > li:hover {
	border-left: 16px solid #be3228;
}
#cssmenu > ul > li > a{
	color: #6B6B6B;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
#cssmenu > ul > li > a:hover{
	font-weight:bold;
}

#cssmenu > ul > li.active{
	border-left: 16px solid #be3228;
	font-weight:bold;
}

.contenedor {
  width: 1024px;
  height: 536px;
  margin: 0 auto;
  display: block;
  text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}
/*
.div-1{
	background: blue;
}
*/
.div-2{
	/*background: #E67E22;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.div-2-1{
	/*background: #2874A6;*/
	border-right: 1px solid gray;
	height: 465px;
	width: 248px;
}

.div-2-2{
	/*background: #1D3B4F;*/
  width: 825px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.div-2-2-1{
	/*background: #1D4F40;*/
	height: 48px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
}
#search {
		height: 20px;
		width: 220px;
    background-image: url("../assets/images/search_gray.png");
		background-size: 20px 20px;
    background-repeat: no-repeat;
		background-position: 3px 7px;
    text-indent: 30px;
		position: relative;
		top: 8px;
		right: 32px;
		padding-top: 6px;
		padding-bottom: 4px;
		color: #797D7F;
		font-family: 'Roboto', sans-serif;
		box-shadow: 0 2px 3px gray;
		-moz-box-shadow: 0 2px 3px gray;
		-webkit-box-shadow: 0 2px 3px gray;
}

#search:active{
	background: white;
	background-image: none;
}

.div-2-2-2{
	/*background: #30CE9F;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}

.div-2-2-3{
	/*background: #21618C;*/
	margin-top: 16px;
}

.div-2-2-2-1{
	/*background: #B630CE;*/
	width: 335px;
	margin-top: 8px;
	margin-left: 30px;
	box-shadow: 0 2px 5px gray;
	-moz-box-shadow: 0 2px 3px gray;
	-webkit-box-shadow: 0 2px 3px gray;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.div-2-2-2-2{
	/*background: #CE3059;*/
	width: 335px;
	margin-top: 8px;
	margin-right: 30px;
	box-shadow: 0 2px 5px gray;
	-moz-box-shadow: 0 2px 3px gray;
	-webkit-box-shadow: 0 2px 3px gray;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.foto1{
	background-image: url("../assets/images/acad1UTM.PNG");
	height: 160px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.descripcion-foto1{
	height: 200px;
	/*background: #C9CE30;*/
	display: flex;
	flex-direction: column;
	}

.foto2{
	 background-image: url("../assets/images/portada.JPG");
	 height: 160px;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;

}

.descripcion-foto2{
	height: 200px;
	/*background: #C9CE30;*/
	display: flex;
	flex-direction: column;
}

.texto-descripcion{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #BE3228;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	padding-left: 8px;
	/*background: #C12E9D;*/
}

.contenedor-fecha{
	display: flex;
	/*background: yellow;*/
}
.icono-calendario{
	/*background: #2EBAC1;*/
	padding-left: 16px;
	padding-bottom: 16px;
}
.texto-fecha{
	/*background: #2EC15F;*/
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #6B6B6B;
	padding-left: 8px;
	padding-top: 2px;
}

.contenedor-ubicacion{
	display: flex;
}
.icono-ubicacion{
	/*background: #CA6F1E;*/
	padding-left: 20px;
	padding-right: 2px;
}
.texto-ubicacion{
	/*background: #2E86C1;*/
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #6B6B6B;
	padding-left: 8px;
	padding-top:3px;
	padding-bottom: 16px;
}

.asistiras{
	/*background: #42C12E;*/
	border-top: 1px solid #ccc;
	width: 90%;
	margin-left: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #6B6B6B;
	text-align: left;
	padding-top: 24px;
	padding-bottom: 16px;
}
.botones-si-no{
	/*background: #302EC1;*/
	height: 50px;
	display: flex;
}
.si{
	margin-left: 10px;
	width: 50px;
	background: #BE3228;
	color: white;
	margin-bottom: 8px;
	box-shadow: 0 0 3px gray;
	-moz-box-shadow: 0 0 3px gray;
	-webkit-box-shadow: 0 0 3px gray;
}
.no{
 margin-left: 10px;
 width: 50px;
 background: #BE3228;
 color: white;
 margin-bottom: 8px;
 box-shadow: 0 0 3px gray;
 -moz-box-shadow: 0 0 3px gray;
 -webkit-box-shadow: 0 0 3px gray;
}
.no:hover{
	background: #5E352A;
}
.si:hover{
	background: #5E352A;
}
div.paginate a{
	text-align: center;
	padding: 5px 10px 12px 9px;
	background-repeat: no-repeat;
}
div.paginate a.page{
	background-image: url("../assets/images/paginator_page.png");
}
div.paginate a.active{
	color: white;
	background-image: url("../assets/images/paginator_active.png");
}

div.paginate a.forward{
	position: relative;
	top: 8px;
}
div.paginate a.back{
	position: relative;
	top: 8px;
}

a{
  color: #be3228;
  text-decoration: none;
  cursor:pointer; cursor: hand;
  margin-left: 10px;
}
