/* =========================================================
 1. MODAL STYLE
========================================================= */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.txt{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #6B6B6B;
	position: relative;
  	top: 0;
}
.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}

.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;

}

.modaloverlay .modal {
  background-color: white;
  width: 50%;
  position: relative;
  margin: 8px auto;
  padding: 3em;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}

/*@media (min-width: 60em) {
  .modaloverlay .modal {
    margin: 5% auto;

    max-width: 33em;
    width: 85%;
  }
}
*/
.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
  /*width: 100%;
  height: 100%;*/
}

.modaloverlay .close {
  background-color: white;
  color: #6B6B6b;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  /*text-align: center;*/
  text-decoration: none;
  top: 0;
  z-index: 1;
}

/*.btn-group {
  margin: 4% 19% 0 16.5%;
}*/

.parte-1{
  /*background: rgb(195, 140, 18);*/
  height: 50px;
}

.parte-2{
  /*background: rgb(14, 166, 15);*/
  /*height: 280px;*/
}

#e_descripcion{
	color: #6B6B6B;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
#h_descripcion{
	color: #6B6B6B;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.item-1{
  /*background: rgb(198, 169, 188);*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.icono{
  width: 70px;
}
.descripcion{
  width: 300px;
}
.texto-descripcion{
  text-align: left;
  /*padding-left: 24px;*/
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #6B6B6B;
}
.detalles_ofertas {
  margin: auto;
}
.detalles_ofertas > div {
  display: flex;
  width: 80%;
  margin: auto;
}
.detalles_ofertas div div:first-child {
  width: 15%;
  margin-right: 16px;  
  height: auto;
  text-align: right;
  margin-top: 20px;
}
.detalles_ofertas div div:nth-child(2) {
  margin-top: 20px;
  width: 80%;
  text-align: left;
  color: #6B6B6B;
}
.detalles_ofertas .btn-group {
  margin-top: 20px;
  padding-left: 70px;
  /*padding-left: 40px;*/
}
div.form-group label {
  display: inline-block;
  width: 170px;
  text-align: right;
  padding: 0;
  /*padding-right: 4px; */
}
form.agregarEmpleoForm {
  margin: auto;
  padding: 0;
  width: 90%;
}
.agregarEmpleoRadio {
  text-align: right;
  margin-bottom: 16px;
}
.coment {
	margin-top: 16px;
	margin-bottom: 0;
}