@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900);
/* =========================================================
 1. MODAL STYLE
========================================================= */
.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}

.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}

.modaloverlay .modal {
  background-color: white;
  height: 75%;
  width: 50%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 60em) {
  .modaloverlay .modal {
    height: 50%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 33em;
    width: 85%;
  }
}

.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
  width: 100%;
  height: 100%;
}

.modaloverlay .close {
  background-color: white;
  color: #6B6B6b;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.btn-group {
  margin: 4% 19% 0 16.5%;
}

/* =========================================================
 2. ASIDE STYLE
========================================================= */
/* Aside */
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}

#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}

#cssmenu ul li.active, #cssmenu ul li.hover, #cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul li:hover > ul {
  visibility: visible;
}

#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}

#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}

#cssmenu ul ul li {
  float: none;
}

/* Custom CSS Styles */
#cssmenu {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.38);
}

#cssmenu ul {
  background: transparent;
}

#cssmenu ul a,
#cssmenu ul a:link {
  display: block;
  color: #848889;
  text-align: left;
  text-decoration: none;
  font-weight: 300;
}

#cssmenu > ul {
  float: none;
}

#cssmenu > ul > li > a {
  padding: 10px 20px;
}

#cssmenu > ul > li.active, #cssmenu > ul > li:hover {
  border-left: 8px solid #be3228;
}

#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #000;
  font-weight: bold;
  text-align: left;
}

/* =========================================================
 3. CUSTOM INPUT STYLE
========================================================= */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"] {
  width: 56%;
  height: 32px;
  padding: 0 0 0 5px;
  margin: 8px 0px 8px 0px;
  border: #ACABAB 2px solid;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 4px 4px;
}

input.input-icon {
  padding: 0 0 0 32px;
}

input.inputEmail {
  background-image: url("../assets/images/email.png");
}

input.inputHome {
  background-image: url("../assets/images/home0.png");
}

input.inputTel {
  background-image: url("../assets/images/phone.png");
}

input.inputAddress {
  background-image: url("../assets/images/address.png");
}

input.inputPuesto {
  background-image: url("../assets/images/empresa_puesto.png");
}

input.inputAntiguedad {
  background-image: url("../assets/images/empresa_antiguedad.png");
}

input.inputFuncionDes {
  background-image: url("../assets/images/empresa_funcion_principal.png");
}

input:hover, input:focus {
  outline: none;
  border: solid 2px #BE3228;
}

.label-icon {
  margin: 8px 0px 8px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* =========================================================
 4. CUSTOM RADIO STYLE
========================================================= */
.label-radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  margin-right: 15px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.label-radio:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  /*   margin-right: 10px; */
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.radio {
  margin: 8px 0px 8px 0px;
}

td > .radio {
  margin-left: 3.5px;
}

td > .radio > .label-radio {
  margin-right: 0px;
}

th.col_calif {
  width: 120px;
}

th.col_calif > span {
  font-size: 8pt;
}

input[type=radio] {
  display: none;
  border: 1px #fff solid;
  margin: 8px 0px 8px 0px;
}

input[type=radio]:checked + label:before {
  content: "\2022";
  color: #BE3228;
  font-size: 36px;
  text-align: center;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

select {
  background-color: #fff;
  border: 2px solid #ACABAB;
  margin: 8px 0px 8px 0px;
}

select:focus, select:hover {
  border: 2px solid #BE3228;
}

/* =========================================================
 5. CUSTOM CHECKBOX STYLE
========================================================= */
input[type=checkbox] {
  margin: 8px 0px 8px 0px;
  display: none;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  text-align: right;
  line-height: 18px;
  color: #BE3228;
}

.checkbox {
  margin: 8px 0px 8px 0px;
}

.checkbox label:before {
  border-radius: 3px;
}

.checkbox .label-radio:before {
  bottom: inherit;
}

/* =========================================================
 6. CUSTOM CHECKBOX STYLE
========================================================= */
textarea {
  margin: 8px 0px 8px 0px;
  height: 68px;
  width: 619px;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #ACABAB;
  padding: 10px;
  resize: none;
}

textarea:focus, textarea:hover {
  outline: none;
  border: 2px solid #BE3228;
}

.disabled {
  pointer-events: none;
  color: #ACABAB;
  cursor: default;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.38);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 0px;
}

.content {
  width: 65%;
  height: 350px;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 15px;
  overflow-y: auto;
}

.content-lg {
  width: 75%;
  height: 350px;
  text-align: left;
  margin-left: 1%;
  margin-bottom: 15px;
  overflow-y: auto;
}

.content-sm {
  width: 35%;
  height: 350px;
  text-align: left;
  margin-left: 10%;
  overflow-y: auto;
}

.clearfix ::after {
  content: "";
  clear: both;
}

.aling {
  margin-left: 16px;
}

.aling-right {
  float: right;
  margin: 0px 0px 10px 10px;
}

.aling-left {
  float: left;
  margin: 0px 0px 10px 10px;
}

.margin {
  margin: 0 5% 0% 5%;
}

.text-center {
  text-align: center;
  width: 32px;
}

label {
  display: block;
}

.hidden {
  display: none;
}

table {
  margin: 8px 0px 8px 0px;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
