@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.38); 
}

#global {
  height: 300px;
  width: 200px;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}
#mensajes {
  height: auto;
}
.texto {
  padding:4px;
  background:#fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
    float: left;
    padding: 15px;
}

.content{
  width: 65%;
  height: 350px;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.content{
  width: 65%;
  height: 350px;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.content-sm {
  width: 35%;
  height: 350px;
  text-align: left;
  margin-left: 10%;
  overflow-y: scroll;
}

.link{
  color: #be3228;
  cursor:pointer; cursor: hand;
}

/* Aside */
  /* Starter CSS for Flyout Menu */

  #cssmenu,
  #cssmenu ul,
  #cssmenu ul li,
  #cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #cssmenu ul {
    position: relative;
    z-index: 597;
    float: left;
  }
  #cssmenu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
  }

  #cssmenu ul li.active,
  #cssmenu ul li.hover,
  #cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
  }
  #cssmenu ul ul {
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 598;
    width: 100%;
  }
  #cssmenu ul ul li {
    float: none;
  }
  #cssmenu ul ul ul {
    top: 1px;
    left: 99%;
  }


  #cssmenu ul li:hover > ul {
    visibility: visible;
  }
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul ul li {
    font-weight: normal;
  }


  /* Custom CSS Styles */
  #cssmenu {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.38); 
  }
  #cssmenu ul a,
  #cssmenu ul a:link,
  #cssmenu ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
  }
  #cssmenu > ul {
    float: none;
  }
  #cssmenu ul {
    background: transparent;
  }

  #cssmenu > ul > li > a {
    padding: 10px 20px;
  }

  #cssmenu > ul > li.active,
  #cssmenu > ul > li:hover {
    border-left: 8px solid #be3228;
  }

  #cssmenu ul li.active > a,
  #cssmenu ul li:hover > a {
    color: #000;
    font-weight: bold;
  }


input[type=checkbox]:checked ~ #email{
    display: block;
}
#email{
    display: none;
}

.form-group{
  margin-top: 15px;
}

textarea{
  margin: 0px; 
  width: 614px; 
  height: 212px;
  resize: none;
}

.checkbox-inline {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}