@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.text-center{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #6B6B6B;
	position: relative;
	top: 15px;
}

.hr {
	max-width: 965px;
	margin: 20px 27px 0;
}

.column li a{
	color: black;
	padding-bottom: 8px;
}


/*#cssmenu > ul > li.active,*/
#cssmenu > ul > li {
	border-left: 16px solid rgba(255,255,255,0.1);

}

#cssmenu > ul > li:hover {
	border-left: 16px solid #be3228;
}
#cssmenu > ul > li > a{
	color: #6B6B6B;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
#cssmenu > ul > li > a:hover{
	font-weight:bold;
}

#cssmenu > ul > li.active{
	border-left: 16px solid #be3228;
	font-weight:bold;
}

.contenedor {
  width: 1024px;
  height: 536px;
  margin: 0 auto;
  display: block;
  text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.div-1{
	/*background: blue;*/
}

.div-2{
	/*background: #E67E22;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.div-2-1{
	/*background: #2874A6;*/
	border-right: 1px solid gray;
	height: 465px;
	width: 248px;
}

.div-2-2{
	/*background: #1D3B4F;*/
	width: 520px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-2-3{
	position: relative;
	top: 16px;
	width: 200px;
	background:#7F7B79;
	background-image: url("../assets/images/biblioteca.JPG");
	height: 160px;
	border: 8px solid #5E352A;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

.contenedor-info{
	/*background: yellow;*/
	position: relative;
	top: 30px;
	height: 60px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.icono{
	/*background: pink;*/
	width: 50px;
	padding-right: 15px;
}
.info-perfil{
	color: #6B6B6B;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.addInput{
	color: #be3228;
}
