
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900);
/* =========================================================
 1. MODAL STYLE
========================================================= */
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
.text-center{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #6B6B6B;
  position: relative;

}
.contenedor{
    /*background: rgb(26, 168, 213);*/
    width: 1024px;
    min-height: 536px;
    /*height: 536px;*/
    margin: 0 auto;
    display: block;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.div-1{
  /*background: yellow;*/
  border-bottom: solid 1px #adacac;
  margin: 8px 32px 0;
  height:32px;
}

.div-2{
  /*background: green;*/
  margin-top: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-2-1{
  /*background: rgb(19, 73, 144);*/
  width: 550px;
}
.bienvenida{
  /*background: rgb(126, 84, 121);*/
  margin-left: 32px;
  width: 450px;
  text-align: justify;
  font-family: helvetica;
  font-size: 15px;
}
.column{
  /*background: rgb(77, 28, 130);*/
  width: 450px;
  margin-top: 16px;
  margin-left: 32px;
  text-align: left;
}
.aviso-privacidad{
  color: #BE3228;
  text-decoration: none;
  font-family: helvetica;
  font-size: 17px;
}
.div-2-2{
  /*background: rgb(184, 65, 136);*/
}

.div-3{
  /*background: rgb(224, 89, 33);*/
  margin-top: 32px;
  margin-bottom: 8px;
  color: #1B1B1E;
  font-family: helvetica;
  font-size: 13px;
}

.div-4{
  /*background: rgb(115, 142, 126);*/
  color: #1B1B1E;
  font-family: helvetica;
  font-size: 13px;
}

.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999;

  display: block;
  animation: modal 0s 0s forwards;
  visibility: hidden;

}
/*
.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}
*/
.modaloverlay .modal {
  background-color: white;
  height: 75%;
  width: 50%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  text-align: justify;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  animation: modal 0s 0s forwards;
  visibility: hidden;
}

@media (min-width: 60em) {
  .modaloverlay .modal {
    height: 50%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 33em;
    width: 85%;
  }
}

.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
  width: 100%;
  height: 100%;
  animation: modal 0s 0s forwards;
  visibility: hidden;
}

.modaloverlay .close {
  background-color: white;
  color: #6B6B6b;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: justify;
  text-decoration: none;
  top: 0;
  z-index: 99999;
  animation: modal 0s 0s forwards;
  visibility: hidden;
  opacity: 0;
}

@keyframes modal{
  100%{
    visibility: visible;
    opacity: 1;
  }
}
.label{
  /*background: rgb(110, 184, 221);*/
  text-align: left;
  color: #6B6B6B;
  font-family: 'Roboto',sans-serif;;
  font-size: 14px;
}
.div-input{
  margin-bottom: 16px;
}
.last-label{
  /*background: rgb(110, 184, 221);*/
  text-align: right;
  color: #6B6B6B;
  font-family: 'Roboto',sans-serif;;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.button1{
    float: left;
    width: 100px;
    height: 24px;
    background-color: #A4A4A4;
    color: white;
    border: none;
    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
      animation: modal 0s 0s forwards;
  visibility: hidden;
}

.button2{
    float: right;
    width: 100px;
    height: 24px;
    background-color: #DF0101;
    color: white;
    border: none;
    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
      animation: modal 0s 0s forwards;
  visibility: hidden;
}
.button2:hover{
  background: #5E352A;
}

#entradas{
    height: 28px;
    width: 400px;
    padding: 1px 14px;
    border: none;
    border: #ACABAB 1px solid;
}
#entradas:hover{
  border: solid 1px #BE3228;
  outline: none;
}
.emergente-aviso-privacidad{
  /*background: rgb(73, 128, 24);*/
  text-align: center;
  color: #6B6B6B;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
}
.emergente-texto-central{
  /*background: rgb(193, 185, 224);*/
  color: #6B6B6B;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
    text-align: justify;
  overflow-y: hidden;
}
.div-btn{
  /*background: rgb(162, 3, 52);*/
  margin-top: 32px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}


.emergente-button1{
    float: left;
    width: 150px;
    height: 30px;
    background-color: #A4A4A4;
    color: white;
    border: none;
    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.emergente-button2{
    float: right;
    width: 150px;
    height: 30px;
    background-color: #DF0101;
    color: white;
    border: none;
    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.emergente-button2:hover{
  background: #5E352A;
}

.has-error{
  color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
}
form {
  width: 45%;
  margin: auto;
  /*text-align: left;*/
}
label {
  display: inline-block;
  width: 250px;
  text-align: left;
}
div.col-md-6 {
  display: inline-block;
}
div.col-md-offset-4 a {
  display: inline-block;
}
div.col-md-offset-4{
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
div.col-md-6 input {
  height: 20px;
  margin-top: 24px;  
}
.btn {
  background-color: #BE3228;
  color: white;
  border: none;
}
/*.btn-group {
  margin: 4% 19% 0 16.5%;
}*/

/* Aqui agrego lo mio */


/*.registro{
    position: relative;
    top: 50px;
    width: 1020px;
    height: 420px;
    margin: 0 auto;
    padding: 0px;
    background: #fbfbfb;
    box-shadow: 0px 0px 4px gray;

}*/



/*#saludo{
    float:left;
    width: 60%;
    height: 300px;
    margin-left: 40px;
    margin-right: 1%;
    position: relative;
}*/

/*.panel-body{
  float: left;
  width: 90%;
  margin-right: 1%;
}*/

/*.group-input{
  margin-bottom: 10px;
}*/

/*.label{
  float: left;
  text-align: right;
  width: 40%;
}*/
/*
.separator-line{
  float: right;
  width: 70%;
  margin: 0 5% 10px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}*/

/*#bienvenida{
    font-family: helvetica;
    font-size: 15px;
    position: relative;
    text-align: justify;
    top: 40px;
    color: black;
}*/

/*#aviso{
    font-family: helvetica;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: red;
}*/

/*#datos{
    font-family: helvetica;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    width: 455px;
    height: 300px;
}
*/


/*.titulo{
  width: 50%;
  height: 32px;
}*/


/*.p{
    font-size: 12px;
    width: 40%;

}*/
/*
.seccion{
    font-family: helvetica;
    font-size: 30px;
    text-align: center;
}

.hre{
    width: 50%;
}*/
