/* =========================================================
TABLE STYLE
========================================================= */
table{
  width: 97%;
  /*margin: 0 5% 0 5%;*/
  border-collapse: collapse;
  border: #ACABAB 2px solid;
  font-size: 12pt;
}
th{
  color: #FFFFFF;
  background-color: #6B6B6B;
  border: #ACABAB 2px solid;
  text-align: center;
}
tr, td {
  height: 32px;
  border: #ACABAB 2px solid;
}
tr:nth-child(even){ /*Filas pares*/
  color: #6B6B6B;
  background-color: #FFFFFF;
}
tr:nth-child(odd){ /*Filas nones*/
  color: #6B6B6B; /*color: #FFFFFF;*/
  background-color: #D8D8D8;
}

/* =========================================================
END TABLE STYLE
========================================================= */