@import url('https://fonts.googleapis.com/css?family=Roboto');
/* =========================================================
TABLE STYLE
========================================================= */
table{
  margin-left: 24px;
  width: 94%;
  /*padding-top: 26px;*/
  /*border-top: 16px;*/
  /*margin-top: 1px;*/
  margin-bottom: 41px;
  margin-top: 8px;
  /*margin: 0 5% 0 5%;*/
  border-collapse: collapse;
  border: #ACABAB 2px solid;
  font-size: 12pt;
}
th{
  color: #FFFFFF;
  background-color: #6B6B6B;
  border: #ACABAB 2px solid;
  text-align: center;
}
tr, td {
  height: 32px;
  border: #ACABAB 2px solid;
}
tr:nth-child(even){ /*Filas pares*/
  color: #6B6B6B;
  background-color: #FFFFFF;
}
tr:nth-child(odd){ /*Filas nones*/
  color: #6B6B6B; /*color: #FFFFFF;*/
  background-color: #D8D8D8;
}

/* =========================================================
END TABLE STYLE
========================================================= */


.div-2-bc{
	/*background: green;*/
	padding-left: 25px;
	padding-bottom: 24px;
  padding-top: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;
  /*align-items: flex-start;*/
  align-content: center;
}

.text-center{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #6B6B6B;
	position: relative;
	top: 10px;
  padding-bottom: 10px;
}

.titulo_select{
  /*margin: 0;*/
  /*padding-top:8px;*/
  padding-left: 25px;
  text-align: left;
	color: #6B6B6B;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.hr {
	max-width: 965px;
	margin: 20px 27px 0;
}


div.buscador input{
  width: 70%;
  height: 32px;
  padding: 0 0 0 32px;
  /*margin-top: 20px;*/
  margin-right: 5px;
  border: 1 !important;    /*    Removes border*/
    border: #ACABAB 2px solid;
  background-image: url("../assets/images/search_gray.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 4px 4px;
  box-shadow: 0 0 3px gray;
  -moz-box-shadow: 0 0 3px gray;
  -webkit-box-shadow: 0 0 3px gray;
}



.ubicacion{
	background-image: url("../assets/images/menu_hamburguesa.png");
	background-repeat: no-repeat;
	background-position: 3px 7px;
}

.contenedor{
	  width: 1024px;
	  height: 536px;
	  margin: 0 auto;
	  display: block;
	  text-align: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
}


div.buscador input:hover{
  outline: none;
  border: solid 1px #BE3228;
  box-shadow: 0 0 5px 1px #969696;
}


div select{
  width: 400px;
  height: 32px;
  padding: 0 0 0 32px;
	background: white;
  -webkit-appearance: none;        /*Removes default chrome and safari style */
  -moz-appearance: none;          /* Removes Default Firefox style*/
	box-shadow: 0 0 3px gray;
	-moz-box-shadow: 0 0 3px gray;
	-webkit-box-shadow: 0 0 3px gray;
}



/*Paginación*/
div.paginate a{
	text-align: center;
	padding: 3px 8px 12px 9px;
	background-repeat: no-repeat;
}
div.paginate a.page{
	background-image: url("../assets/images/paginator_page.png");
}
div.paginate a.active{
	color: white;
	background-image: url("../assets/images/paginator_active.png");
}

div.paginate a.forward{
	position: relative;
	top: 6px;
}
div.paginate a.back{
	position: relative;
	top: 6px;
}

a{
  color: #be3228;
  text-decoration: none;
  cursor:pointer; cursor: hand;
  margin-left: 10px;
}
