@import url('https://fonts.googleapis.com/css?family=Roboto');
.text-center{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #6B6B6B;
	position: relative;

}
div p.titulo_select1{
  font-size: 14px;
  color: #6B6B6B;
  margin: 0;
    font-family: "Roboto",sans-serif;
  text-align: left;
}
.titulo_select {
    color: #6b6b6b;
    background-image: url("../assets/images/menu_hamburguesa.png");
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    text-align: left;
}

table th{
  color: #FFFFFF;
  background-color: #6B6B6B;
  border: #ACABAB 2px solid;
  text-align: center;
}

table tr, td {
  height: 32px;
  border: #ACABAB 2px solid;
  text-align: center;
}

div.paginate{
	margin: 20px 0px 0 0px;
}

h3{
  line-height: 2.0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ACABAB
}

*{
  margin: 0;
  padding:0;

}
