@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.padre{
  /*background: red;*/
  width: 1024px;
  height: 536px;
  margin: 0 auto;
  display: block;
  text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/*flex-direction: column;*/
  flex-direction: row;
}

.titulo{
  /*font-size: 24pt;
  color: #6B6B6B;
  /*margin: 0;*/
  /*font-family: 'Roboto';
  padding-top: 20px;*/
  /*text-align: left;*/
  font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #6B6B6B;
	position: relative;
	top: 15px;

}
.subtitulo{
  font-family: 'Roboto', sans-serif;
	font-size: 19px;
	color: #6B6B6B;
	position: relative;
	/*top: 15px;*/
}

.hr {
	max-width: 965px;
	margin: 20px 27px 0;
}

.div2{
  /*background: blue;*/
  /*width: 1024px;*/
  /*height: 80px;*/
  /*margin: 0 auto;*/
  display: block;
  /*text-align: center;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
  /*padding-top: 10px;*/
  /*border-top: 50px;*/
}
div select{
  width: 400px;
  height: 32px;
  /*padding-left: 100px;*/
  padding: 0 0 0 32px;
  -webkit-appearance: none;        /*Removes default chrome and safari style */
  -moz-appearance: none;          /* Removes Default Firefox style*/
	box-shadow: 0 0 3px gray;
	-moz-box-shadow: 0 0 3px gray;
	-webkit-box-shadow: 0 0 3px gray;



}

.div3{
  background: yellow;
  /*width: 1024px;*/
  /*width: 12px;*/
  /*height: 436px;*/
  margin: 0 auto;
  display: block;
  /*padding: 30px;*/
  /*padding-left: 300px;*/
  /*text-align: center;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
  text-align: left;
  

}
