@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  font-family: 'Roboto', sans-serif;
}
div.contenedor div.div-1 p {
  font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #6B6B6B;
  margin-top: 8px;
}
div.div-1 {
  border-bottom: solid 1px #adacac;
  margin: 8px 32px 0;
  margin-bottom: 16px;
}
label {
  display: block;
  font-size: 15px;
  color: #6B6B6B;
}
input {
  margin-bottom: 16px;
  /*width: 35%;*/
  height: 24px;
}
input.nombre {
  width: 97%;
  padding-left: 8px;
}
form {
  width: 41%;
  min-height: 405px;
  margin: auto;
  text-align: left;
}
textarea {
  padding-left: 8px;
  margin-bottom: 16px;
  width: 409px;
}
div.foto {
  margin-bottom: 16px;
}
div.foto img {
  width: 50%;
  height: auto;
}
div.boton {
  text-align: right;
  margin-top: 16px;
  /*margin-right: 8px;*/
  margin-bottom: 50px;
}
