<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <link rel="stylesheet" href="base.css" >
  <link rel="stylesheet" href="registro.css" >
</head>

<body background="images/logo_utm.png">
<header>
<section class="contenido">
  <div id="barrasuperior">
  </div>
    <div id="header">
        <div id="nombre_usuario">

            <a class="user-name" href="#">
              <img src="images/user-name.png">
            </a>
            <p>Juan Perez Sanchez</p>
        </div>
        <div id="iconos">
            <a class="configuration" href="#">
              <img src="images/configuration.png">
            </a>
            <a class="user" href="#">
              <img src="images/user.png">
            </a>
            <a class="home" href="#">
              <img src="images/home.png">
            </a>
        </div>
        <div class="headercontainer">
          <div id="logo_see_contenido">
            <img src="images/logo_see_contenido.png">
          </div>
          <div id="titulo_contenido"><p>Sistema de Seguimiento de Egresados</p></div>
          <div id="logo_utm_contenido">
            <img src="images/logo_utm_contenido.png">
          </div>
        </div>
        <div class="menucontainer">
        </div>

        <div class="registro">
        	<p class="seccion">Registrarme</p><br><hr>
          	<div id="saludo">
             	<p id="bienvenida"><strong>Hola! Estás a punto de iniciar tu registro en el Sistema de Seguimiento de Egresados de la UTM, de antemano te agradecemos por colaborar cordialmente con tu universidad.</strong></p>
             	<br><br>
             	<a id="aviso" href="https://www.facebook.com">Leer aviso de privacidad</a>
             	
          	</div>
         	
         	<div id="datos">
         		<p class="p">Ingresa tu matrícula*</p>
         			<input type="text" name="matricula" id="entradas"><br><br>
         		<p class="p">Ingresa tu CURP*</p>
         			<input type="text" name="curp" id="entradas"><br><br>
         		<p class="p">Ingresa tu contraseña*</p>
         			<input type="text" name="pass" id="entradas"><br><br>
         		<p class="p">repite tu contraseña*</p>
         			<input type="text" name="pass2" id="entradas"><br>
         			<p class="p" align="right">*Campos obligatorios</p><br>
         		<button class="button">Cancelar</button>
         		<button class="button2">Registrar</button>
          </div>
            
        </div>
           <!--ul class="nav"-->
    </div>

       
</section>
</header>
<!--
<section class="block">
</section>
-->

</body>
</html>
